* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css kopfbereich */
.kopf{
    height: 100vh;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    color: black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

.logo ul li a:hover {
    color: red;
}

.logo ul li {
    list-style-type: none;
    display: inline-block;
    justify-content: space-between;
    padding: 10px 25px;

}

.logo ul li a {
    text-decoration: none;
    color: black;
}

.kopf {
   
    background-image: url(imgs/hrw.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;

}

span{
    color: red;
}











