* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css kopfbereich start */
.kopf {
    height: 100vh;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    color: black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

.logo ul li a:hover {
    color: red;
}

.logo ul li {
    list-style-type: none;
    display: inline-block;
    justify-content: space-between;
    padding: 10px 25px;

}

.logo ul li a {
    text-decoration: none;
    color: black;
}


span {
    color: red;
}

.home {
    width: 100%;
    padding: 100px 0px;

}

.home img {
    height: auto;
    width: 430px;
}

.home-text {
    width: 550px;
}

.home-main {
    width: 1150px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.home-text h1 {
    color: red;
    font-size: 40px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.home-text h3 {
    color: black;
    font-size: 20px;
    margin-top: 15px;
}



/* css kopfbereich ende */


/* css About Me start */

.about {
    position: relative;
    width: 1600px;
    max-width: 95%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about h1 {
    color: red;
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;

}

.about h2 {
    color: black;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.about-text p {
    text-align: center;
}

.about h2>span {
    color: red;
}

/* css About Me ende */

/* css Skills start*/


.container {
    width: 800px;
    position: relative;
    top: 50%;
    left: 30%;
    padding: 40px 40px 50px;
    border-radius: 20px;
    background-color: rgb(218, 214, 214);
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 2);
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    color: red;
}

.skills {
    width: 90%;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 20px;

}

.bar {
    background: #ddd;
    display: block;
    height: 5px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: 0 0 10px #ddd
}

.bar div {
    height: 4px;
    float: left;
    background: red;
    /*change color of skills bar*/

}


.bar div span {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: rgb(218, 214, 214);
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;

}

/* I want to use this later
.html{
    background: green;
}*/





/*gives color to the circles of the percentage of skills bar */
.html span {
    border: 1px solid red;
}

.css span {
    border: 1px solid red;
}

.javascript span {
    border: 1px solid red;
}

.react span {
    border: 1px solid red;
}

.sql span {
    border: 1px solid red;
}

.office span {
    border: 1px solid red;
}

.figma span {
    border: 1px solid red;
}



/*css animation and width to skills bar*/
.html {
    width: 90%;
    animation: html 2s;
}

.css {
    width: 70%;
    animation: css 2s;
}

.javascript {
    width: 40%;
    animation: javascript 2s;
}

.react {
    width: 50%;
    animation: react 2s;
}

.sql {
    width: 50%;
    animation: sql 2s;
}

.office {
    width: 70%;
    animation: office 2s;
}

.figma {
    width: 60%;
    animation: figma 2s;
}


@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }

}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }

}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }

}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }

}

@keyframes sql {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }

}

@keyframes office {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }

}

@keyframes figma {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }

}