* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css kopfbereich */
.kopf{
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: red;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    justify-content: space-between;
    padding: 10px 25px;

}

nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    color: red;
}

.home{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: black;
    font-size: 100%;
    margin-bottom: 50px;
}
h3{
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: black;
    letter-spacing: 2px;
    font-size: 20px;
}