* {
    font-family: "Roboto";
    box-sizing: border-box;
    margin: 10px;
}

/*--------header------*/

.topnav {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    cursor: pointer;

}

.topnav-items ul li {
    list-style: none;
    display: inline-block;
    text-transform: capitalize;
}

.topnav-items ul li a {
    text-decoration: none;
    color: black;
}

/*------------------------------------------*/



/* css kopfbereich ende */
.home-main {
    display: flex;
    justify-content: space-evenly;
}

.home-text {
    display: block;
    align-items: center;
    padding: 10% 0;
    ;
}

.home-text h1 {
    font-size: 40px;
}

.home img {
    width: 200px;
}

.home-bild {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

}

.bild3 {
    margin-top: -50px;
}

.home-bild div:nth-child(2) {
    margin-top: -5%;
    margin-left: -40px;
}

.home-bild div:nth-child(4) {
    margin-top: -35%;
    margin-left: -40px;
}


/* css About Me start */

.about {
    display: block;
    justify-content: center;
}

.sub-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.about-text p {
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.8;
}

.signature img {
    display: block;
    margin: auto;
    width: 20%;
}



/*-------------------works-------------------*/
#work {
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
}

.work-list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;

}
.work img {
    width: 100%;
    height: 50%;
    border-radius: 20px;
    transition: transform 0.5s;
overflow: hidden;
margin-bottom: 0;
}

.work:hover img {
    transform: scale(1.1);
}
.work span{
display: flex;
flex-direction: column;    
justify-content: center;
text-align: center;
margin-top: 0;
text-transform: uppercase;

}





.services {
    padding: 30px 0;
}

.services-list {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
    margin-left: 20%;
    margin-top: 2%;
}

.services-list div {

    border-radius: 10px;
}

.services-list div img {
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 200px;
    transition: transform 0.5s;
}



.services-list div img:hover {
    transform: translateY(-10px);
}

.services-list div p {
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
    margin-top: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*-----------Touch-------*/
.touch {
    display: flex;
    justify-content: space-evenly;
}

.touch img {
    height: 500px;
    width: 100%;
}